#center{text-align: center;}
.center{text-align: center;}
#input {
	line-height:30px;
	background-color:#eeeeee;
	height:250px;
	width:45%;
	float:left;
	padding:20px;
	margin: 10px;
	/*padding-right: 10px; */
	/*padding-left: 30px; */
	overflow: hidden;
	position: relative;
}
#output {
	width:45%;
	height: 350px;
	float:left;
	padding:20px;
	margin: 10px;
	/*padding-left: 50px;*/
	overflow: hidden;
	position: relative;
}
#cytoscapeweb{
	margin: 20px;
	float: right;
	/*overflow: hidden;*/
	padding: 20px;
	/*padding-left: 100px;*/
	width: 45%;
	/*right:0;*/
	height: 400px;
	border: 1px solid;
	position: relative;
	/*margin-top: 300px; */
}
