#center{text-align: center;}
.center{text-align: center;}
#input {
	line-height:30px; 
	background-color:#eeeeee;
	height:250px;
	width:45%;
	float:left;
	padding:20px;
	margin: 10px;
	/*padding-right: 10px; */
	/*padding-left: 30px; */
	overflow: hidden;
	position: relative;
	/*box-shadow:  3px 3px 3px #888888;*/
}
#output {
	width:45%;
	height: 350px;
	float:left;
	padding:20px;
	margin: 10px;

	/*padding-left: 50px;*/
	overflow: hidden;
	position: relative;
	/*box-shadow:  3px 3px 3px #888888;*/
}
#cytoscapeweb{
	margin: 20px;
	margin-right: 5px;
	margin-left: 10px;
	float: right;
	/*overflow: hidden;*/
	padding: 0px;
	/*padding-left: 100px;*/
	width: 49%;
	/*right:0;*/
	height: 370px;
	/*border: 1px solid;*/
	box-shadow:  3px 3px 3px #888888;
	z-index: -1;
	position: relative;
	/*margin-top: 300px; */
}
#cytoscapeweb2{
	margin: 20px;
	float: right;
	margin-right: 5px;
	margin-left: 10px;
	/*marigin-bottom:10px;*/
	/*overflow: hidden;*/
	padding: 0px;
	/*padding-left: 100px;*/
	width: 49%;
	/*right:0;*/
	height: 370px;
	border: 1px solid;
	position: relative;
	box-shadow:  3px 3px 3px #888888;
	/*margin-top: 300px; */
}
